<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
<listeners>
<listener class-name="Academy.Listener"/>


</listeners>

  <test name="Test">
  <parameter name="password" value="123456"></parameter>
  <parameter name="username" value="mrrahman84"></parameter>
  <parameter name="domain" value="gmail"></parameter>
 
  
    <classes>
      <class name="Academy.BaseElement"/>
    </classes>
  </test> 
</suite> 
